<template>
  <div id="app">
    <Header />
    <Sidebar />

    <router-view></router-view>
  </div>
</template>

<script>
import Header from "@/components/nav/Header";
import Sidebar from "@/components/nav/Sidebar";
export default {
  components: {
    Header,
    Sidebar,
  },
};
</script>

<style></style>
