<template>
  <div>
    <div class="content">
      <div class="container">
        <div class="row mb-2">
          <div class="col-auto mr-auto">
            <b-button
              class="btn btn-sm dark"
              @click="$bvModal.show('add-book')"
            >
              <i class="fas fa-plus-circle"></i> Add Book
            </b-button>
          </div>
          <div class="col-auto">
            <input type="text" placeholder="🔍 Search" v-model="search" />
          </div>
        </div>
        <div class="table-responsive">
          <table class="book-list shadow">
            <thead>
              <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Author</th>
                <th>
                  Copies <br />
                  Available
                </th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="book in filteredBooks" :key="book.id">
                <td>
                  <div class="action-container">
                    <div>
                      <button
                        class="btn orange justify-content-center align-items-center"
                        v-on:click="showBorrow(book.id)"
                      >
                        <i class="fas fa-hand-holding"></i
                        ><span class="ml-2">Borrow</span>
                      </button>
                      <button
                        class="btn light justify-content-center align-items-center"
                        v-on:click="showReturn(book.id)"
                      >
                        <i class="fas fa-undo-alt"></i
                        ><span class="ml-2">Return</span>
                      </button>
                    </div>
                    <div>
                      <button
                        class="btn dark d-flex justify-content-center align-items-center"
                        v-on:click="showUpdate(book)"
                      >
                        <i class="fas fa-edit"></i>
                        <span class="ml-2">Edit</span>
                      </button>
                      <b-button
                        class="btn btn-danger d-flex justify-content-center align-items-center"
                        v-on:click="showDelete(book.id)"
                      >
                        <i class="fas fa-trash-alt"></i
                        ><span class="ml-2">Delete</span>
                      </b-button>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-center">{{ book.name }}</p>
                </td>
                <td>
                  <p class="text-center">{{ book.author }}</p>
                </td>
                <td>
                  <p class="text-center">{{ book.copies }}</p>
                </td>
                <td>
                  <p class="text-center">{{ book.category.category }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Add Book -->
    <b-modal
      id="add-book"
      size="lg"
      centered
      hide-header
      hide-footer
      class="mt-5"
    >
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Add Book</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="createBook"
          >
            <div class="col-8">
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="book.name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="author" class="col-sm-3 col-form-label"
                  >Author</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="author"
                    v-model="book.author"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="copy" class="col-sm-3 col-form-label">Copy</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="copy"
                    v-model="book.copies"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label"
                  >Category</label
                >
                <div class="col-sm-9">
                  <div>
                    <select
                      class="form-control border-dark"
                      id="category"
                      v-model="book.category_id"
                    >
                      <option disabled>-- select a category --</option>
                      <option
                        v-for="category in categories"
                        :key="category.id"
                        :value="category.id"
                        >{{ category.category }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn btn-sm dark mr-2" type="submit">
                <i class=" fas fa-user-plus"></i>&nbsp; Add Book
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('add-book')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>

    <!-- Update Book -->
    <b-modal
      id="update-book"
      size="lg"
      centered
      hide-header
      hide-footer
      class="mt-5"
    >
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Update Book</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="updateBook"
          >
            <div class="col-8">
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="book.name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="author" class="col-sm-3 col-form-label"
                  >Author</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="author"
                    v-model="book.author"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="copy" class="col-sm-3 col-form-label">Copy</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="copy"
                    v-model="book.copies"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label"
                  >Category</label
                >
                <div class="col-sm-9">
                  <div>
                    <select
                      class="form-control border-dark"
                      id="category"
                      v-model="book.category_id"
                    >
                      <option disabled>-- select a category --</option>
                      <option
                        v-for="category in categories"
                        :key="category.id"
                        :value="category.id"
                      >
                        {{ category.category }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn btn-sm dark mr-2" type="submit">
                <i class=" fas fa-user-plus"></i>&nbsp; Update Book
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('update-book')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>

    <!-- Delete Book -->
    <b-modal size="xs" id="delete-book" centered hide-header hide-footer>
      <div>
        <h2 class="ml-5 mt-3 mb-3 text-left text-dark">Delete</h2>
        <div
          class="modal-body d-flex align-items-center justify-content-center flex-column"
        >
          <span>Do you want to delete this data?</span>
          <div class=" d-flex align-items-center justify-content-end mt-5">
            <button
              type="button"
              class="btn btn-danger mr-2"
              v-on:click="deleteBook"
            >
              <i class=" fas fa-trash-alt"></i>
              &nbsp;Delete
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              @click="$bvModal.hide('delete-book')"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </b-modal>

    <!-- Borrowed Book -->
    <b-modal
      id="borrowed-book"
      size="lg"
      centered
      hide-header
      hide-footer
      class="mt-5"
    >
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Borrow Book</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="borrowBook"
          >
            <div class="col-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Patron</label>
                <div class="col-sm-9">
                  <select
                    class="form-control border-dark"
                    v-model="borrowedReturned.patron_id"
                  >
                    <option disabled :value="0">-- Select a Patron --</option>
                    <option
                      v-for="patron in patrons"
                      :key="patron.id"
                      :value="patron.id"
                    >
                      {{ patron | fullName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="copy" class="col-sm-3 col-form-label">Copy</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="copies"
                    v-model="borrowedReturned.copies"
                  />
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn  btn-sm orange mr-2" type="submit">
                <i class=" fas fa-hand-holding"></i>&nbsp; Borrow
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('borrowed-book')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>

    <!-- Returned Book -->
    <b-modal
      id="returned-book"
      size="lg"
      centered
      hide-header
      hide-footer
      class="mt-5"
    >
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Return Book</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="returnBook"
          >
            <div class="col-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Patron</label>
                <div class="col-sm-9">
                  <select
                    class="form-control border-dark"
                    v-model="borrowedReturned.patron_id"
                  >
                    <option disabled :value="0">-- Select a Patron --</option>
                    <option
                      v-for="b in borrowed"
                      :key="b.id"
                      :value="b.patron.id"
                    >
                      {{ b.patron | fullName }} {{ `| Total: ${b.copies}` }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="copy" class="col-sm-3 col-form-label">Copy</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="copies"
                    v-model="borrowedReturned.copies"
                  />
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn  btn-sm light mr-2" type="submit">
                <i class=" fas fa-undo-alt"></i>&nbsp; Return
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('returned-book')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import toastr from "toastr";

export default {
  data() {
    return {
      id: "",
      modalId: "",
      search: "",
      errors: [],
      book: {
        name: "",
        author: "",
        copies: 0,
        category_id: 0,
      },
      borrowedReturned: {
        patron_id: 0,
        copies: 0,
        book_id: 0,
      },
    };
  },
  computed: {
    books() {
      return this.$store.getters["books/getBooks"];
    },
    filteredBooks() {
      return this.books.filter((book) => {
        return (
          book.name.match(this.search) ||
          book.author.match(this.search) ||
          book.category.category.match(this.search)
        );
      });
    },
    borrowed() {
      let borrowed = this.$store.getters["borrowed/getBorrowedBooks"];
      return borrowed.filter((b) => {
        return b.book_id === this.borrowedReturned.book_id;
      });
    },
    categories() {
      return this.$store.getters["categories/getCategories"];
    },
    patrons() {
      return this.$store.getters["patrons/getPatrons"];
    },
  },
  methods: {
    ...mapActions("books", {
      fetchBooks: "fetchBooks",
    }),
    async createBook() {
      if (!this.validate(this.book)) {
        for (var e in this.errors) {
          this.warningMessage(`${this.errors[e]}`);
        }
        return;
      }
      const response = await this.$store.dispatch(
        "books/createBook",
        this.book
      );
      this.messageByResponses(response);
    },
    showUpdate(book) {
      this.id = book.id;
      this.book = { ...book };
      this.$bvModal.show("update-book");
    },
    async updateBook() {
      if (!this.validate(this.book)) {
        for (var e in this.errors) {
          this.warningMessage(`${this.errors[e]}`);
        }
        return;
      }
      const response = await this.$store.dispatch("books/updateBook", {
        id: this.id,
        book: this.book,
      });
      this.messageByResponses(response);
    },
    showDelete(id) {
      this.id = id;
      this.$bvModal.show("delete-book");
    },
    async deleteBook() {
      const response = await this.$store.dispatch("books/deleteBook", this.id);
      console.log(response);
      this.messageByResponses(response);
    },
    showBorrow(id) {
      this.borrowedReturned.book_id = id;
      this.$bvModal.show("borrowed-book");
    },
    async borrowBook() {
      if (this.borrowedReturned.patron_id == 0)
        return this.warningMessage("Please select a patron");
      const response = await this.$store.dispatch(
        "borrowed/borrowedBook",
        this.borrowedReturned
      );
      if (response.status == 200) {
        await this.$store.dispatch("books/fetchBooks");
        await this.$store.dispatch("borrowed/fetchBorrowedBooks");
      }
      this.messageByResponses(response);
    },
    showReturn(id) {
      this.borrowedReturned.book_id = id;
      this.$bvModal.show("returned-book");
    },
    async returnBook() {
      if (this.borrowedReturned.patron_id == 0)
        return this.errorMessage("Please select a patron");
      const response = await this.$store.dispatch(
        "returned/returnedBook",
        this.borrowedReturned
      );
      if (response.status == 200) {
        await this.$store.dispatch("books/fetchBooks");
        await this.$store.dispatch("borrowed/fetchBorrowedBooks");
      }
      this.messageByResponses(response);
    },
    validate(book) {
      this.errors = [];

      if (!book.name) this.errors.push("Book name is required.");
      if (!book.author) this.errors.push("Book author is required.");
      if (!book.copies) {
        this.errors.push("Book copies is required.");
      } else {
        if (isNaN(book.copies)) {
          this.errors.push("Book copies must be a numeric value.");
        } else {
          if (book.copies <= 0)
            this.errors.push("Book copies must be greater than 0.");
        }
      }
      if (!book.category_id) this.errors.push("Book category required.");
      return this.errors.length ? false : true;
    },
    successMessage(message) {
      this.$bvModal.hide(this.modalId);
      toastr.success(message, "Successful!");
    },
    warningMessage(message) {
      toastr.warning(message, "Canceled!");
    },
    errorMessage(message) {
      toastr.error(message, "Failed!");
    },
    messageByResponses(response) {
      if (
        response.status == 200 ||
        response.status == 201 ||
        response.status == 204
      ) {
        this.successMessage(response.data.message);
      } else if (response.status == 404) {
        this.errorMessage(response.data.message);
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          this.warningMessage(errors[i][0]);
        }
      } else {
        this.errorMessage("Something wrong. Try again later");
      }
    },
    clearFields() {
      this.book = {
        name: "",
        author: "",
        copies: 0,
        category_id: 0,
      };
      this.borrowedReturned = {
        patron_id: 0,
        copies: 0,
        book_id: 0,
      };
      this.id = "";
    },
  },
  async mounted() {
    document.title = "Library System | Book Management";
    await this.$store.dispatch("books/fetchBooks");
    await this.$store.dispatch("borrowed/fetchBorrowedBooks");
    await this.$store.dispatch("categories/fetchCategories");
    await this.$store.dispatch("patrons/fetchPatrons");
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      this.modalId = modalId;
    });
    this.$root.$on("bv::modal::hide", () => {
      this.clearFields();
    });
  },
  filters: {
    fullName(patron) {
      return `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`;
    },
  },
};
</script>
