<template>
  <div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-10 col-sm-10 col-md-10 col-lg-6 pb-2">
            <div class="borrow-return-chart">
              <span>Borrowed and Returned Books</span>
              <Bar :style="chartStyle" />
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-6">
            <div class="popular-book-chart">
              <span>Popular Book Genre</span>
              <Doughnut :style="chartStyle" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bar from "@/components/charts/Bar";
import Doughnut from "@/components/charts/Doughnut";

export default {
  components: { Bar, Doughnut },
  data() {
    return {
      height: 350,
      width: 330,
    };
  },
  computed: {
    chartStyle() {
      return {
        position: "block",
        width: `${this.width}px`,
        height: `${this.height}px`,
      };
    },
  },
  mounted: function() {
    document.title = "Library System | Dashboard";
  },
};
</script>
