* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  position: absolute;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  z-index: 1000;
}

.sticky {
  position: fixed;
  height: 10vh;
  background-color: #84112d;
  -webkit-box-shadow: 0px 2px 0.4rem #1616164d;
  box-shadow: 0px 2px 0.4rem #1616164d;
  transition: 0.5s;
}

.nav-link {
  font-weight: 400;
  margin: 0 10px 0 10px;
  color: white;
  font-size: 15px;
}

.nav-link:hover {
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container span i {
  font-size: 30px;
  color: white;
}

.nav-link.logo {
  margin-left: 0px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link.logo span {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.nav-link.login {
  width: 120px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 1.5px #fff solid;
  border-radius: 10px;
}

.nav-link.login:hover {
  color: #84112d;
  background-color: #fff;
  transition: 0.5s;
}

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

#banner .content {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fd194e80;
}

.heading {
  position: relative;
  float: right;
  bottom: 40px;
  color: #fff;
  padding: 0 150px 0 150px;
  z-index: 999;
  max-width: 800px;
}

.heading h1 {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 40px;
}

.heading p {
  font-size: 20px;
  font-weight: 300;
}

.heading input {
  width: 126px;
  height: 45px;
  background: #fff;
  color: #84112d;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border: 1px #00000000 solid;
}

.heading input:hover {
  -webkit-box-shadow: 0px 10px 10rem #1616164d;
  box-shadow: 0px 10px 10rem#1616164d;
  transition: 0.5s;
}

.side-bar {
  position: fixed;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  right: 0;
  z-index: 1000;
  float: right;
  padding: 0 50px;
}

.side-bar p {
  writing-mode: vertical-lr;
  margin: 0 0 50px 0;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.side-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 0 8px 0;
}

.title {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  height: 180px;
  background-color: #83112d80;
  padding: 50px;
}

.title h4 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.title h4::before,
.title h4::after {
  flex-grow: 1;
  height: 3px;
  width: 100px;
  content: '\a0';
  background-color: #ddd;
  position: relative;
  top: 0.5em;
}

.title h4::before {
  margin-right: 100px;
}

.title h4::after {
  margin-left: 100px;
}

.title p {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#review {
  position: relative;
}

#review .content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #84112d;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#review .content .card-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

#review .content .card-container .card:nth-child(odd) {
  width: 300px;
  height: 300px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#review .content .card-container .card:nth-child(even) {
  width: 400px;
  height: 400px;
  display: flex;
  margin: 0 50px 0 50px;
  flex-direction: column;
  align-items: center;
}

#review .content .card-container .card:nth-child(even) img {
  margin: 20px 0 20px 0;
  width: 140px;
  object-fit: cover;
  clip-path: circle();
}

#review .content .card-container .card:nth-child(odd) img {
  margin-top: 10px;
  width: 90px;
  object-fit: cover;
  clip-path: circle();
}

#review .content .card-container .rating span:nth-child(1),
#review .content .card-container .rating span:nth-child(2),
#review .content .card-container .rating span:nth-child(3),
#review .content .card-container .rating span:nth-child(4) {
  color: #ffb905;
}

#review .content .card-container .rating span:nth-child(5) {
  color: #4e4e4e;
}

#review .content .card-container .card .message-1,
#review .content .card-container .card .message-3 {
  max-width: 300px;
  height: 100px;
  padding: 30px;
}

#review .content .card-container .card .message-2 {
  max-width: 400px;
  height: 100px;
  padding: 50px;
}
#review .content .card-container .card .message-1 h4,
#review .content .card-container .card .message-3 h4 {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  text-align: left;
}

#review .content .card-container .card .message-1 span,
#review .content .card-container .card .message-3 span {
  float: right;
  color: #fff;
}

#review .content .card-container .card .message-2 h4 {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  text-align: left;
}

#review .content .card-container .card .message-2 span {
  float: right;
  color: #fff;
}

#review .content .card-container .card:nth-child(even),
#review .content .card-container .card:nth-child(odd) {
  background-color: #590e21;
  -webkit-box-shadow: 0px 0px 4rem #161616fb;
  box-shadow: 0px 0px 4rem#161616ad;
}

#review .content .dots {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#review .content .dots span:nth-child(1),
#review .content .dots span:nth-child(5) {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

#review .content .dots span:nth-child(2) {
  margin-left: 2px;
}

#review .content .dots span:nth-child(4) {
  margin-right: 2px;
}

#review .content .dots span:nth-child(2),
#review .content .dots span:nth-child(4) {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

#review .content .dots span:nth-child(3) {
  font-size: 1.5rem;
  margin: 0 2px 0 2px;
  color: rgba(255, 255, 255, 1);
}

#services {
  position: relative;
}
#services .content {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84112d;
}

#services .content img{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  object-fit: cover;
}


#services .content .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #83112d80;
  
}

#services .content .card-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#services .content .card-container .row .card {
  position: relative;
  margin: 30px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 2px 0.4rem #1616164d;
  box-shadow: 0px 2px 0.4rem #1616164d;
  padding: 50px 20px 50px 20px;
}

#services .content .card-container .row .card img {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#services .content .card-container .row .card p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

#services .content .card-container .row .card p:nth-child(2) {
  font-size: 16px;
}

#contactus {
  position: relative;
}


#contactus .content {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#contactus .content .heading,
#contactus .content .contact-form{
  z-index: 999;
}

#contactus .content .heading {
  top: -150px;
  left: -50px;
  position: relative;
}

#contactus .content .heading h2 {
  letter-spacing: 2px;
}

#contactus .content .contact-form {
  width: 40%;
  padding: 40px;
  background-color: #761029;
  margin-right: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0.4rem #1616164d;
  box-shadow: 0px 2px 0.4rem #1616164d;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin: 10px 0;
  border: none;
  color: #fff;
  background-color: #761029;
  border-bottom: 2px solid #fff;
  outline: none;
  resize: none;
  font-weight: 300;
}

.contact-form .input-box textarea {
  height: 100px;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  color: #fff;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.5s;
}


.contact-form .input-box input[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: #84112d;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border: 2px #fff solid;
}


.contact-form .input-box input[type="submit"]:hover {
  background-color: #590e21;
  color: #fff;
}

#contactus .overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #83112e;
  mix-blend-mode: overlay;
}

footer {
  position: relative;
}

footer .content{
  width: 100%;
  height: 25vh;
  padding: 10px;
  background-color: #590e21;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .content div h4 {
  color: #dbdbdb;
  text-transform: uppercase;
}
.site-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-links div{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-links div a {
  text-decoration: none;
  color: #a5a5a5;
  font-weight: 300;
  text-transform: uppercase;
}

.follow-us div a i {
  font-size: 36px;
  color: #a5a5a5;
  margin: 20px;
}

.partners div a i {
  font-size: 36px;
  color: #a5a5a5;
  margin: 20px 10px 30px 10px;
}