<template>
  <nav class="navbar navbar-dark dark ">
    <!-- Navbar content -->
    <div class="logo-container ml-5">
      <i class="fas fa-book logo-lg"></i>
      <a class="navbar-brand ml-4"> Library System</a>
    </div>
    <button class="btn btn-sm light mr-5 text-light">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </nav>
</template>