<template>
    <div class="sidenav dark">
    <router-link to="/" class="nav-link text-light" :class=" this.$route.name == 'Dashboard' ? 'light' : ''">
      <i class="fas fa-home mr-3"></i>
      <span>Dashboard</span>
    </router-link>
    <router-link to="/patron" class="nav-link text-light" :class=" this.$route.name == 'Patron' ? 'light' : ''">
      <i class="fas fa-user mr-3"></i>
      <span>Patron Management</span>
    </router-link>
    <router-link to="/book" class="nav-link text-light" :class=" this.$route.name == 'Book' ? 'light' : ''">
      <i class="fas fa-book-open mr-3"></i>
      <span>Book Management</span>
    </router-link>
    <router-link to="/settings" class="nav-link text-light" :class=" this.$route.name == 'Settings' ? 'light' : ''">
      <i class="fas fa-cog mr-3"></i>
      <span>Settings</span>
    </router-link>
  </div>
</template>
