<template>
  <div>
    <div class="content">
      <div class="container">
        <div class="row mb-2">
          <div class="col-auto mr-auto">
            <b-button
              class="btn btn-sm dark"
              @click="$bvModal.show('add-patron')"
            >
              <i class="fas fa-plus-circle"></i> Add Patron
            </b-button>
          </div>
          <div class="col-auto">
            <input
              type="text"
              name=""
              id=""
              placeholder="🔍 Search"
              v-model="search"
            />
          </div>
        </div>

        <div class="table-responsive">
          <table class="patron-list shadow">
            <thead>
              <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Registered</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="patron in filteredPatrons" :key="patron.id">
                <td>
                  <div class="action-container">
                    <div>
                      <button
                        class="btn dark d-flex justify-content-center align-items-center"
                        v-on:click="showUpdate(patron)"
                      >
                        <i class="fas fa-edit"></i>
                        <span class="ml-2">Edit</span>
                      </button>
                      <b-button
                        class="btn btn-danger d-flex justify-content-center align-items-center"
                        v-on:click="showDelete(patron.id)"
                      >
                        <i class="fas fa-trash-alt"></i
                        ><span class="ml-2">Delete</span>
                      </b-button>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-center">
                    {{ patron | fullName }}
                  </p>
                </td>
                <td>
                  <p class="text-center">{{ patron.email }}</p>
                </td>
                <td>
                  <p class="text-center">
                    {{ patron.created_at | registeredDate }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Add Patron -->
    <b-modal id="add-patron" centered size="lg" hide-header hide-footer>
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Add Patron</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="createPatron"
          >
            <div class="col-8">
              <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    v-model="patron.first_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="middlename" class="col-sm-4 col-form-label"
                  >Middle Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="middlename"
                    v-model="patron.middle_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    v-model="patron.last_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label"
                  >Email Address</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    id="email"
                    v-model="patron.email"
                  />
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn btn-sm dark mr-2" type="submit">
                <i class=" fas fa-user-plus"></i>&nbsp; Add Patron
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('add-patron')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>

    <!-- Update Patron -->
    <b-modal id="update-patron" centered size="lg" hide-header hide-footer>
      <div>
        <h1 class="ml-5 mt-5  text-left text-dark">Edit Patron</h1>
        <div class="modal-body">
          <form
            class="row justify-content-center mt-4 align-items-center"
            @submit.prevent="updatePatron"
          >
            <div class="col-8">
              <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    v-model="patron.first_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="middlename" class="col-sm-4 col-form-label"
                  >Middle Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="middlename"
                    v-model="patron.middle_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    v-model="patron.last_name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label"
                  >Email Address</label
                >
                <div class="col-sm-8">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="patron.email"
                  />
                </div>
              </div>
            </div>
            <div
              class=" d-flex align-items-center justify-content-end mr-mbutton mt-2 mb-5 ml-auto"
            >
              <b-button class="btn btn-sm dark mr-2" type="submit">
                <i class=" fas fa-user-plus"></i>&nbsp; Update Patron
              </b-button>
              <b-button
                class="btn btn-sm btn-secondary mr-5"
                @click="$bvModal.hide('update-patron')"
                >Close</b-button
              >
            </div>
          </form>
        </div>
      </div>
    </b-modal>

    <!-- Delete Patron -->
    <b-modal size="xs" id="delete-patron" centered hide-header hide-footer>
      <div>
        <h2 class="ml-5 mt-3 mb-3 text-left text-dark">Delete</h2>
        <div
          class="modal-body d-flex align-items-center justify-content-center flex-column"
        >
          <span>Do you want to delete this data?</span>
          <div class=" d-flex align-items-center justify-content-end mt-5">
            <button
              type="button"
              class="btn btn-danger mr-2"
              v-on:click="deletePatron"
            >
              <i class=" fas fa-trash-alt"></i>
              &nbsp;Delete
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              @click="$bvModal.hide('delete-patron')"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import toastr from "toastr";
import moment from "moment";

export default {
  data() {
    return {
      patron: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      id: 0,
      search: "",
      modalId: "",
      errors: [],
    };
  },
  computed: {
    patrons() {
      return this.$store.getters["patrons/getPatrons"];
    },
    filteredPatrons() {
      return this.patrons.filter((patron) => {
        return (
          patron.last_name.match(this.search) ||
          patron.first_name.match(this.search) ||
          patron.middle_name.match(this.search) ||
          patron.email.match(this.search)
        );
      });
    },
  },
  methods: {
    ...mapActions("patrons", {
      fetchPatrons: "fetchPatrons",
    }),
    async createPatron() {
      if (!this.validate(this.patron)) {
        for (var e in this.errors) {
          this.warningMessage(`${this.errors[e]}`);
        }
        return;
      }

      const response = await this.$store.dispatch(
        "patrons/createPatron",
        this.patron
      );
      this.messageByResponses(response);
    },
    showUpdate(patron) {
      this.id = patron.id;
      this.patron = { ...patron };
      this.$bvModal.show("update-patron");
    },
    async updatePatron() {
      if (!this.validate(this.patron)) {
        for (var e in this.errors) {
          this.warningMessage(`${this.errors[e]}`);
        }
        return;
      }
      const response = await this.$store.dispatch("patrons/updatePatron", {
        id: this.id,
        patron: this.patron,
      });
      this.messageByResponses(response);
    },
    showDelete(id) {
      this.id = id;
      this.$bvModal.show("delete-patron");
    },
    async deletePatron() {
      const response = await this.$store.dispatch(
        "patrons/deletePatron",
        this.id
      );
      this.messageByResponses(response);
    },
    validate(patron) {
      this.errors = [];
      if (!patron.last_name) this.errors.push("Last name is required.");
      if (!patron.first_name) this.errors.push("First name is required.");
      if (!patron.middle_name) this.errors.push("Middle name is required.");
      if (!patron.email) {
        this.errors.push("Email address is required.");
      } else {
        if (!this.validEmail(patron.email)) {
          this.errors.push("Email address must be valid.");
        }
      }
      return this.errors.length ? false : true;
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    trimField(field) {
      return field.replace(/^\s+|\s+$/gm, "");
    },
    successMessage(message) {
      this.$bvModal.hide(this.modalId);
      toastr.success(message, "Successful!");
    },
    warningMessage(message) {
      toastr.warning(message, "Canceled!");
    },
    errorMessage(message) {
      toastr.error(message, "Failed!");
    },
    messageByResponses(response) {
      if (
        response.status == 200 ||
        response.status == 201 ||
        response.status == 204
      ) {
        this.successMessage(response.data.message);
      } else if (response.status == 404) {
        this.errorMessage(response.data.message);
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          this.warningMessage(errors[i][0]);
        }
      } else {
        this.errorMessage("Something wrong. Try again later");
      }
    },
    clearFields() {
      this.patron = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };
      this.id = 0;
    },
  },
  created() {
    this.$store.dispatch("patrons/fetchPatrons");
  },
  mounted() {
    document.title = "Library System | Patron Management";
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      this.modalId = modalId;
    });
    this.$root.$on("bv::modal::hide", () => {
      this.clearFields();
    });
  },
  filters: {
    registeredDate(date) {
      return moment(date).format("LL");
    },
    fullName(patron) {
      return `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`;
    },
  },
};
</script>
