@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.dark {
  color: white;
  background-color: #35495e;
}

.light {
  color: white;
  background-color: #41b883;
}

.orange {
  color: white;
  background-color: #e36d2a;
}

.mr-mbutton {
  margin-right: 6rem;
}

.navbar-brand {
  font-size: 20px;
  display: flex;
}

.logo-lg {
  font-size: 24px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container i {
  font-size: 36px;
  color: #fff;
}

.logo-container a {
  font-size: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 14vh;
  z-index: 5;
  top: 0;
}

.library-container {
  position: relative;
  display: flex;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  padding-top: 14vh;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.sidenav a {
  display: flex;
  align-items: center;
  padding: 30px;
}

.sidenav a p {
  font-size: 16px;
}

.sidenav a i {
  font-size: 24px;
}

.content {
  margin-left: 25vw;
  margin-top: 14vh;
  padding: 3rem;
}

.content .dashboard-content {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borrow-return-chart,
.popular-book-chart {
  border: 3px #41b883 solid;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.borrow-return-chart span,
.popular-book-chart span  {
  margin-right: auto;
}
.borrow-return-chart canvas,
.popular-book-chart canvas {
  margin-top: 20px;

}

.content .book-management-content,
.content .patron-management-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .book-management-content .heading,
.content .patron-management-content .heading {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
}

.content .book-management-content .heading button,
.content .patron-management-content .heading button {
  font-size: 14px;
  margin-left: 20px;
  width: 120px;
}

.content .book-management-content .heading input,
.content .patron-management-content .heading input {
  outline-style: none;
  width: 300px;
  margin-right: 30px;
  border: 3px #35495e solid;
}

.content .book-management-content .book-list,
.content .patron-management-content .patron-list {
  background-color: white;
  border-collapse: collapse;

}

.book-list thead,
.patron-list thead {
  text-align: center;
  color: #fff;
  background-color: #35495e;
}

.book-list thead th,
.patron-list thead th {
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.book-list tbody,
.patron-list tbody {
  text-align: center;
}

.book-list tbody tr .action-container,
.patron-list tbody tr .action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-list tbody tr .action-container div button,
.patron-list tbody tr .action-container div button {
  font-size: 12px;
  width: 100px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-list tbody tr td,
.patron-list tbody tr td {
  padding: 3px;
  border-bottom: 1px #35495e solid;
}

.book-list tbody tr td:nth-child(2),
.patron-list tbody tr td:nth-child(2) {
  width: 260px;
}

.book-list tbody tr td p,
.patron-list tbody tr td p {
  font-size: 14px;
}

.modal-body form div span {
  font-size: 20px;
  font-weight: 500;
}

.dropdown button {
  max-width: 100%;
}

table {
  width: 100%;

}

.modal {
  border-radius: 0 !important;
}

.page-link {
  color: #41b883 !important;
}
.page-item.active .page-link {
  color: #fff !important;
  background-color: #35495e !important;
  border-color: #35495e !important;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(113 113 113 / 25%);
}


@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }

  .content {
    padding: 2rem;
    margin-left: 15vw;
  }

  .navbar {
    height: 10vh;
    z-index: 5;
  }

  .sidenav {
    width: 15vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10vh;
  }

  .sidenav a {
    justify-content: center;
  }

  .sidenav a span {
    display: none;
  }

  .content .dashboard-content {
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 0;
  }

  .content .book-management-content .book-list {
    width: 200px;
    height: 200px;
    background-color: white;
    border-collapse: collapse;
  }

}

